<!DOCTYPE html>
<html>
<head>
  <title>Desafio Programa 1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% flash_message.each do |type,msg| %>
			<h4 id="mainflashmessage" class="<%= type %>"><%= msg%></h4>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
