<p id="notice"><%= notice %></p>

<p>
  <strong>Comprador:</strong>
  <%= @compra.comprador %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @compra.descricao %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @compra.preco %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @compra.quantidade %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @compra.endereco %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @compra.fornecedor %>
</p>

<%= link_to 'Editar', edit_compra_path(@compra) %> |
<%= link_to 'Retornar', compras_path %>
